.side-bar
  .side-bar__user-name
    .side-bar__box
      %p.top-items masa
      %ul.top-items__icons 
        %li.top-edit  
          %a.edit
            = icon('far', 'edit')
        %li.top-cog
          %a.cog
            = icon('fas', 'cog')
  .side-bar__group-list 
    .group-box
      .messege-box techcamp
      .mess  ここおこ
          